[flake8]
max-line-length = 88
max-complexity = 5
--docstring-convention = google
extend-ignore = E203,E501
per-file-ignores =
    # imported but unused
    test_utils.py: S101,S311
	test_simple.py: S101
	test_trendlist.py: S101
	test_Trend.py: S101
	test_TrendList.py: S101
	test_package.py: S101
	trendlist.py: S311
